.container {
    display: grid;
    grid-template-columns: 0.5em 1fr 0.5em;
    grid-template-rows: 0fr  1fr 0fr;
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
}

.item {
    display: flex;
}

.repository-with-sidebar .repository-sidebar .clone-url.open {
    display: flex;
}

.repository-with-sidebar, .repository-content {
    float: left;
    width: 100%;
}

.markdown-body {
    max-width: none;
}

@media (min-width: 1020px) {
    .repository-with-sidebar, .repository-content {
        width: 1020px;
    }
}

